<h2>About</h2>

<p>SherBAL is your one-stop shop for all your <%= link_to "Dev Bootcamp", "http://devbootcamp.com" %> (DBC) preparation needs. The purpose of the site is to create an organized repository for DBC preparation resources.</p>
<br>
<p>SherBAL originally started as a tutorial from Richard Scheems' <%= link_to "reddit_on_rails", "https://github.com/schneems/reddit_on_rails" %> and gradually evolved into a full-fledged app.</p>