@import "bootstrap";

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

p {
  width: 400px;
  a:hover {
    text-decoration: none;
  }
}

.center {
  text-align: center;
	height: 200px;
  padding-top: 30px;
  h1 {
		margin-bottom: 10px;
	}
}

.logo-home {
	margin-bottom: 30px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: 1px;
  margin-bottom: 30px;
  font-weight: 100;
  color: $grayLight;
}

h3 {
  font-size: 1.7em;
  letter-spacing: 1px;
  margin-bottom: 20px;
  font-weight: 300;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
	display: block;
  float: left;
  padding: 10px 20px 10px;
  margin-left: -20px;
  font-size: 20px;
  font-weight: 500;
  color: #000;
  text-shadow: 0 1px 0 #505050;
  letter-spacing: 3px;
  &:hover {
		color: #fff;
  	text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: $grayLight;
  a {
  	color: #555;
  	&:hover {
  		color: #222;
  	}
  }
  small {
  	float: left;
  }
  ul {
  	float: right;
  	list-style: none;
  	li {
  		float: left;
  		margin-left: 10px;
  	}
  }
}

/* links */

.links_background {
  background-color: $grayLighter;
  border-radius: 6px;
}

.links_list {
  background-color: #FFF;
  border-radius: 6px;
}

.links_display {
  box-shadow: 0 1.3px 1px #bbb;
  background-color: white;
  border-radius: 3px;
  color: $grayLight;
  font-size: 11px;
  padding-left: 5px;
  a {
    line-height: 25px;
    margin-left: 5px;
    font-size: 13.1px;
    &:hover {
      text-decoration: none;
    }
  }
}

.show_link {
	text-align: left;
	margin-top: 40px;
	margin-bottom: 20px;
}

.comment {
  clear: both;
  width: 900px;
	margin-bottom: 3px;
	color: #707070;
  text-decoration: none;
}

.comment_title {
  margin-bottom: 20px;
  margin-top: 70px;
}

.comment_time {
  float: left;
	font-size: 10px;
	font-style: italic;
	margin-bottom: 20px;
	color: #808080;
}

.custom_alert {
  background-color: #fcf8e3;
  margin-bottom: 10px;
  border-radius: 4px;
  color: #c09853;
  float: center;
}

.traffic_data {
  float: left;
  font-size: 11px;
  margin-left: 5px;
  a:hover {
    text-decoration: none;
  }
}

.delete_link {
  margin-top: -2px;
  font-size: 11px;
  border: none;
  color: $linkColor;
  background-color: transparent;
  &:hover {
    color: darken($linkColor, 15%);
  }
}

.delete_link_comment {
  font-size: 10px;
  font-style: italic;
  color: $linkColor;
  border: none;
  background-color: transparent;
  margin-top: -2px;
  &:hover {
    color: darken($linkColor, 15%);
  }
}

.add_comment {
  clear: both;
}

/* comments */

textarea {
  height: 100px;
  width: 450px;
}

/* upvote button */

.upvote {
  border: none;
  float: left;
  color: $linkColor;
  background-color: transparent;
  border-radius: 3px;
  &:hover {
    color: darken($linkColor, 15%);
  }
}

.cant_vote_again {
  padding-left: 8px;
  padding-right: 5px;
}