// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment {
	margin-bottom:5px;
	color:#606060;
}

.comment_time {
	font-size:11px;
	font-style:italic;
	margin-bottom:30px;
	color:#606060;
}

h2 {
	font-size: 30px;
	letter-spacing:3px;
	color:#404040;
}

h4 {
	font-size:15px;
	font-style:italic;
	letter-spacing:2px;
	margin-bottom:30px;
	color: #808080;
}