<footer class="footer">
  <small>
    <%= link_to "SherBAL", root_path %>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_index_path %></li>
      <li><%= link_to "Contact", contact_index_path %></li>
    </ul>
  </nav>
</footer>